In [14]:
import pandas as pd

In [20]:
users_friend = pd.read_excel('users_friend.xlsx', engine='openpyxl')
users_pages = pd.read_excel('users_pages.xlsx', engine='openpyxl')

In [21]:
users_friend

    user_id  friend_id
0         1          2
1         1          4
2         1          5
3         2          1
4         2          3
5         2          4
6         2          5
7         3          2
8         4          1
9         4          2
10        5          1
11        5          2

In [22]:
users_pages

    user_id  page_id
0         1       21
1         1       25
2         2       25
3         2       23
4         2       24
5         2       28
6         2       21
7         3       25
8         3       24
9         5       23
10        5       28

In [23]:
def recommend_weibo(friends, follows):
    recommendations = {}

    for user in friends.keys():
        recommendations[user] = set()
        for friend in friends[user]:
            if friend in follows:
                recommendations[user].update(follows[friend] - follows.get(user, set()))

    return recommendations

In [26]:
friends = users_friend.groupby('user_id')['friend_id'].apply(set).to_dict()
follows = users_pages.groupby('user_id')['page_id'].apply(set).to_dict()
recommendations = recommend_weibo(friends, follows)
recommendations

{1: {23, 24, 28},
 2: set(),
 3: {21, 23, 28},
 4: {21, 23, 24, 25, 28},
 5: {21, 24, 25}}